
@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["SuccesMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccesMessage"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Begin"]</h1>
</div>
