@{
    ViewData["Title"] = "Конфидициальность";
}
<h1>@ViewData["Title"]</h1>

<p>Сайт разрабатывается исключително в образовательных целях.</p>
<p>Используются кукки для определения пользователя.</p>
