@model UserInfoViewModel
@{
    ViewData["Title"] = "Ищем заказы по имени";
}
<form asp-action="GetUserOrderByName">
    <div class="align-content-center m-2">
        <div class="m2"><input asp-for="FirstName" type="text">Введите имя</div>
        <div class="m2"><input asp-for="MiddleName" type="text">Введите Фамилию</div>
        <div class="m2"><input asp-for="LastName" type="text">Введите Отчество</div>
        <button type="submit" class="btn btn-primary">Найти</button>
    </div>
</form>
<div class="align-content-center m-2">
    @if (Model is not null)
    {
        @foreach (var order in Model.Order)
        {
            <p>Дата создания заказа : @order?.OrderDateTime</p>
            <p>Закончен ли заказа : @order?.isDone</p>
            <p>Оплачен ли заказа : @order?.isPayed</p>
            <p>Количество товаров : @order?.VMProducts.Count</p>
            @foreach (var product in order.VMProducts)
            {
                <p>@product.Name</p>
                <p>@product.Price</p>
                <p>@product.ProductCount</p>
            }
        }
    }
</div>
