@model ProductViewModel
@{
    ViewData["Title"] = "Создаем продукт";
}
<input type="hidden" asp-for="PhotoPath"/>

<form method="post" enctype="multipart/form-data" asp-action="CreateProduct" asp-controller="Product">
    <div class="validation" asp-validation-summary="All"></div>
    <div class="form-group">
        <label>Категория продукта</label>
        <select class="custom-select mr-2" asp-for="Category" asp-items="ViewBag.Category" ></select>
        <a asp-controller="Product" asp-action="GetValuesInCategory"> Создать новую категорию</a>
    </div>
    <div class="form-group">
        <label>Название продукта</label>
        <input type="text" asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <label>Описание продукта</label>
        <input type="text" asp-for="Description" class="form-control">
    </div>
    <div class="form-group">
        <label>Состав продукта</label>
        <input type="text" asp-for="ProductComposition" class="form-control">
    </div>
    <div class="form-group">
        <label>Производитель продукта</label>
        <input type="text" asp-for="Manufacturer" class="form-control">
    </div>
    <div class="form-group">
        <label>Цена</label>
        <input type="text" asp-for="stringPrice" class="form-control" >
        <span asp-validation-for="stringPrice"></span>
    </div>
    <div class="form-group">
        <label>Количество</label>
        <input type="number" asp-for="Count" class="form-control">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" asp-for="HaveDiscount">
            Наличие скидки
        </label>
    </div>
    <div class="form-group">
        <label>Размер скидки</label>
        <input type="text" asp-for="stringDiscount" class="form-control">
        <span asp-validation-for="stringDiscount"></span>
    </div>
    <div class="col col-lg-3">
        <div>
            <img class="card-img-top imageThumbnail border border-primary" src="~/Keks_images/default.png" asp-append-version="true"/>
            <div class="custom-file">
                <input asp-for="Photo" class="custom-file-input form-control"/>
                <label class="custom-file-label text-left">Загрузить...</label>
            </div>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary m-2">Создать продукт</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
