@model SearchVIewModel
@{
    ViewData["Title"] = "Ищем продукт по производителю";
}
<h5>@ViewData["Title"]</h5>

<form asp-action="GetProductByManufacturer">
    <div class="m-2">
        <input asp-for="@Model.SearchString" type="text" />
        <button type="submit">Найти</button>
    </div>
</form>

@if (Model != null)
{
    @await Html.PartialAsync("_ProductPartial", Model);  
}


