<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Магазинчик</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/x-icon" href="~/faviconNew.ico" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Магазин</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Домашняя страница</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Продукты
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-controller="Product" asp-action="GetAllProducts">Смотрим все</a>
                                @if (User.HasClaim("IsAdmin", "true"))
                                {
                                    <a class="dropdown-item" asp-controller="Product" asp-action="CreateProduct">Создаем продукт</a>
                                    <a class="dropdown-item" asp-controller="Product" asp-action="GetAllProductsIsDeleted">Смотрим все, и удаленные</a>
                                    <a class="dropdown-item" asp-controller="Product" asp-action="GetValuesInCategory">Смотрим все категории продуктов</a>
                                }
                            </div>
                        </li>
                        
                        @if (User.HasClaim("IsAdmin", "true"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Пользователи
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="User" asp-action="GetAllUsers">Все пользователи</a>
                                    <a class="dropdown-item" asp-controller="User" asp-action="GetUserOrderByName">Ищем заказы по имени</a>
                                    <a class="dropdown-item" asp-controller="User" asp-action="GetUserOrdersByDate">Ищем заказы по дате</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Поиск
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-action="GetProductByName" asp-controller="Product">Поиск продукта по названию</a>
                                    <a class="dropdown-item" asp-action="GetProductByCategory" asp-controller="Product">Поиск продукта по Категории</a>
                                    <a class="dropdown-item" asp-action="GetProductByManufacturer" asp-controller="Product">Поиск продукта по Производителю</a>
                                    @if(User.HasClaim("IsAdmin", "true"))
                                    {
                                        <a class="dropdown-item" asp-action="GetProductById" asp-controller="Product">Поиск продукта по Идентификатору</a>
                                    }                                    
                                </div>
                            </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shopping" asp-action="GetCart">Корзина</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ChoShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Приватность</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
